@charset "UTF-8";
@font-face {
    font-family: 'Unilab';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/Unilab.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body { width: 100%; }
ul,ol { list-style: none; }
a { text-decoration: none; color: #111; }

#header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #FFEEEE;
  font-family: 'Unilab'
}

#header .nav .logo {
  float: left;
  padding: 30px;
  box-sizing: border-box;
}

#header .nav .logo a {
  font-size: 50px;
}

#header .nav .nav-inner {
  float: right;
}

#header .nav .nav-inner ul {
  overflow: hidden;
  float: left;
  padding: 30px;
}

#header .nav .nav-inner ul li {
  float: left;
  margin-left: 5px;
  font-size: 40px;
  font-weight: 500;
}

#header .nav .nav-inner ul li a {
  padding: 20px;
}

.container .main-banner {
  width: 100%;
  height: 500px;
  line-height: 500px;
  text-align: center;
  color: white;
  background-color: #FFF6EA;
  background-image: url('../img/main_banner_img.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .main-banner h2 {
  font-size: 150px;
  letter-spacing: 40px;
  color: rgba(255, 255, 255, 0.7);
}
